/*button base styles**/
.btn-center{
  max-width: 468px;
}
.btn-left{
  float:left;
  width:auto;
}
.btn-right{
  float:right;
  width:auto;
}
.btn-full{
  float: none;
  width:100%;
}
.btn-pad{
  padding-right: 2em !important;
  padding-left: 2em !important;
}
/**
**button's parent and buttons
**example:
put the button in the center of the parent div.
<div class="btn-parent">
  <button class="btn-round-med-primary">
  </button>
</div>
*****/

.btn-parent{
  display: inline-block;
  //text-align: center;
  color: $primary-color;
  span {
    color: $white;
  }
}

